<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=192.168.121.100;User Id = fangfei;password = 123456;Database = zn;port=3306;charset=gbk;SslMode = none;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>