<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net452" />
  <package id="Dapper" version="1.50.5" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.12" targetFramework="net452" />
</packages>